registry=https://pkgs.dev.azure.com/celerate-realtor/Realtor/_packaging/npm_feed/npm/registry/
always-auth=true

//pkgs.dev.azure.com/celerate-realtor/Realtor/_packaging/npm_feed/npm/registry/:username=MiladBayee
//pkgs.dev.azure.com/celerate-realtor/Realtor/_packaging/npm_feed/npm/registry/:_password=MXdsN1dkdzAxWENQWENZZExncUFiNTBIZjQ1MWZuMzJETlZ2c1lIZzBnWjhTemR3djIwa0pRUUo5OUJLQUNBQUFBQUFBQUFBQUFBU0FaRE8xR2w5
//pkgs.dev.azure.com/celerate-realtor/Realtor/_packaging/npm_feed/npm/registry/:email=miladbayee@gmail.com
